html {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  /* background: #000; */
  background-color: #2d2e2e;
  color: #f4f4f4;
}

body {
  margin: 0;
}

.uk-position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  max-width: 100%;
  box-sizing: border-box;
}

[class*="uk-position-bottom"],
[class*="uk-position-center"],
[class*="uk-position-left"],
[class*="uk-position-right"],
[class*="uk-position-top"] {
  position: absolute !important;
}

@media (min-width: 1200px) .uk-padding {
  padding: 40px;
}
.uk-padding {
  padding: 30px;
}
.uk-animation-fade {
  animation-name: uk-fade;
  animation-duration: 0.8s;
  animation-timing-function: linear;
}
[class*="uk-animation-"] {
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

canvas,
img,
video {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

.uk-position-bottom {
  bottom: 0;
  left: 0;
  right: 0;
}
[class*="uk-position-bottom"],
[class*="uk-position-center"],
[class*="uk-position-left"],
[class*="uk-position-right"],
[class*="uk-position-top"] {
  position: absolute !important;
}
* + .uk-margin {
  margin-top: 20px !important;
}
.uk-margin {
  margin-bottom: 20px;
}
.uk-text-center {
  text-align: center !important;
}
.uk-animation-fade {
  animation-name: uk-fade;
  animation-duration: 0.8s;
  animation-timing-function: linear;
}
[class*="uk-animation-"] {
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
