{{#> layouts/default title="" landing=true }}

  <!-- ################################ -->
  <!-- ############ INTRO ############# -->
  <!-- ################################ -->

  <section class="o-section t-section">
    <a name="about"></a>
    <div class="o-section__header-bg t-section__header"></div>
    <div class="o-section__content-bg t-section__content"></div>

    <div class="o-container">
      <div class="o-section__container">
        <header class="o-section__header t-section__header">
          <div class="o-content">
            <h2 class="o-section__heading">Intro</h2>
            <div class="o-content__body o-section__description">
              What I am all about.
            </div>
          </div>
        </header>

        <div class="o-section__content t-section__content">
          <div class="o-content">
            <div class="c-intro">
              <div class="o-content__body">
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  Phasellus hendrerit. Pellentesque aaliquet nibh nec urna. In
                  nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed
                  <a href="#" target="_blank">pretium</a>, ligula sollicitudin
                  laoreet viverra, tortor libero sodales leo, eget blandit nunc
                  tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.
                  Nulla vitae mauris non felis mollis faucibus.
                </p>
                <p>
                  Sed egestas, ante et vulputate volutpat, eros pede semper est,
                  vitae luctus metus libero eu augue. Morbi purus libero,
                  faucibus adipiscing, commodo quis, gravida id, est. Sed
                  lectus. Praesent elementum hendrerit tortor. Sed semper lorem
                  at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi
                  neque euismod dui, eu pulvinar nunc sapien ornare nisl.
                  Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed,
                  urna. Fusce lacinia arcu et nulla. Nulla vitae mauris non
                  felis mollis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ################################ -->
  <!-- ########## EXPERTISE ########### -->
  <!-- ################################ -->

  <section class="o-section t-section">
    <a name="expertise"></a>
    <div class="o-section__header-bg t-section__header"></div>
    <div class="o-section__content-bg t-section__content"></div>

    <div class="o-container">
      <div class="o-section__container">
        <header class="o-section__header t-section__header">
          <div class="o-content">
            <h2 class="o-section__heading">Expertise</h2>
            <div class="o-content__body o-section__description">
              Batman would be jealous.
            </div>
          </div>
        </header>

        <div class="o-section__content t-section__content">
          <div class="o-grid">
            <div class="o-grid__col-sm-6">
              <div class="o-media o-media--block o-content">
                <div class="o-media__figure">
                  <div class="c-number t-primary-color">01</div>
                </div>
                <div class="o-media__body o-content__body">
                  <h3>Advanced CSS</h3>
                  <p>
                    Cras ornare tristique elit lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit. Phasellus hendrerit.
                    Pellentesque aliquet nibh nec urna. In nisi neque, aliquet
                    vel, dapibus id.
                  </p>
                </div>
              </div>
            </div>

            <div class="o-grid__col-sm-6">
              <div class="o-media o-media--block o-content">
                <div class="o-media__figure">
                  <div class="c-number t-primary-color">02</div>
                </div>
                <div class="o-media__body o-content__body">
                  <h3>Front-end Design</h3>
                  <p>
                    Sed adipiscing ornare risus. Morbi est est, blandit sit
                    amet, sagittis vel, euismod vel, velit. Pellentesque egestas
                    sem. Suspendisse commodo ullamcorper magna. Ut aliquam
                    sollicitudin leo.
                  </p>
                </div>
              </div>
            </div>

            <div class="o-grid__col-sm-6">
              <div class="o-media o-media--block o-content">
                <div class="o-media__figure">
                  <div class="c-number t-primary-color">03</div>
                </div>
                <div class="o-media__body o-content__body">
                  <h3>Ruby on Rails</h3>
                  <p>
                    Donec nec justo eget felis facilisis fermentum. Aliquam
                    porttitor mauris sit amet orci. Aenean dignissim
                    pellentesque felis. Vivamus vestibulum nulla cras ornare
                    tristique elit nec ante.
                  </p>
                </div>
              </div>
            </div>

            <div class="o-grid__col-sm-6">
              <div class="o-media o-media--block o-content">
                <div class="o-media__figure">
                  <div class="c-number t-primary-color">04</div>
                </div>
                <div class="o-media__body o-content__body">
                  <h3>Object-oriented PHP</h3>
                  <p>
                    Morbi in sem quis dui placerat ornare. Ut aliquam
                    sollicitudin leo. Pellentesque odio nisi, euismod in,
                    pharetra a, ultricies in, diam. Sed arcu. Cras ante. Vivamus
                    vestibulum nulla nec ante.
                  </p>
                </div>
              </div>
            </div>

            <div class="o-grid__col-sm-6">
              <div class="o-media o-media--block o-content">
                <div class="o-media__figure">
                  <div class="c-number t-primary-color">05</div>
                </div>
                <div class="o-media__body o-content__body">
                  <h3>WordPress</h3>
                  <p>
                    Phasellus ultrices nulla quis nibh. Fusce lobortis lorem.
                    Quisque a lectus. Donec consectetuer ligula vulputate sem
                    tristique cursus. Nam nulla quam, gravida non, sodales sit
                    amet, nisi.
                  </p>
                </div>
              </div>
            </div>

            <div class="o-grid__col-sm-6">
              <div class="o-media o-media--block o-content">
                <div class="o-media__figure">
                  <div class="c-number t-primary-color">06</div>
                </div>
                <div class="o-media__body o-content__body">
                  <h3>JavaScript / jQuery</h3>
                  <p>
                    Cras ornare tristique elit lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit. Phasellus hendrerit.
                    Pellentesque aliquet nibh nec urna. In nisi neque, aliquet
                    vel, dapibus id.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ################################ -->
  <!-- ########### IMPRINT ########## -->
  <!-- ################################ -->

  <section class="o-section t-section">
    <a name="imprint"></a>
    <div class="o-section__header-bg t-section__header"></div>
    <div class="o-section__content-bg t-section__content"></div>

    <div class="o-container">
      <div class="o-section__container">
        <header class="o-section__header t-section__header">
          <div class="o-content">
            <h2 class="o-section__heading">Impressum</h2>
            <div class="o-content__body o-section__description">
              Here it gets interesting.
            </div>
          </div>
        </header>

        <div class="o-section__content t-section__content">
          <div class="o-content">
            <div class="c-intro">
              <div class="o-content__body">
                <p class="adsimple-321201991">
                  Informationspflicht laut § 5 TMG.
                </p>
                <p class="adsimple-321201991">
                  Onlinemarketing Pfau<br />Waldkauzweg 37,
                  <br />14974 Ludwigsfelde,
                  <br />Deutschland
                </p>
                <p class="adsimple-321201991">
                  <strong>Pfau Software</strong>
                  ist eine Marke von
                  <strong>Onlinemarketing Pfau</strong>
                </p>
                <p class="adsimple-321201991"></p>
                <p class="adsimple-321201991">
                  <strong>E-Mail:</strong>
                  <a
                    href="mailto:contact@pfau-software.de"
                  >contact@pfau-software.de</a>
                </p>
                <p class="adsimple-321201991">
                  <strong>UStID-Nr.:</strong>DE263725390
                </p>
                <p class="adsimple-321201991">
                  <strong>Vertreten durch die Gesellschafter</strong>
                  <br />Andreas Pfau
                </p>

                <p style="margin-top: 15px">
                  Quelle: Erstellt mit dem
                  <a
                    title="Impressum Generator Deutschland"
                    href="https://www.adsimple.de/impressum-generator/"
                    target="_blank"
                    rel="follow"
                    style="text-decoration: none"
                  >Impressum Generator</a>
                  von AdSimple in Kooperation mit
                  <a
                    href="https://www.bauenwir.de"
                    target="_blank"
                    rel="follow"
                    title=""
                  >bauenwir.de</a>
                </p>
                <h2 class="adsimple-321201991">EU-Streitschlichtung</h2>
                <p>
                  Gemäß Verordnung über Online-Streitbeilegung in
                  Verbraucherangelegenheiten (ODR-Verordnung) möchten wir Sie
                  über die Online-Streitbeilegungsplattform (OS-Plattform)
                  informieren.<br />
                  Verbraucher haben die Möglichkeit, Beschwerden an die Online
                  Streitbeilegungsplattform der Europäischen Kommission unter
                  <a
                    class="adsimple-321201991"
                    href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE"
                    target="_blank"
                    rel="noopener"
                  >http://ec.europa.eu/odr?tid=321201991</a>
                  zu richten. Die dafür notwendigen Kontaktdaten finden Sie
                  oberhalb in unserem Impressum.
                </p>
                <p>
                  Wir möchten Sie jedoch darauf hinweisen, dass wir nicht bereit
                  oder verpflichtet sind, an Streitbeilegungsverfahren vor einer
                  Verbraucherschlichtungsstelle teilzunehmen.
                </p>
                <h2 class="adsimple-321201991">
                  Haftung für Inhalte dieser Website
                </h2>
                <p>
                  Wir entwickeln die Inhalte dieser Webseite ständig weiter und
                  bemühen uns korrekte und aktuelle Informationen
                  bereitzustellen. Laut Telemediengesetz
                  <a
                    class="adsimple-321201991"
                    href="https://www.gesetze-im-internet.de/tmg/__7.html?tid=321201991"
                    rel="noopener"
                    target="_blank"
                  >(TMG) §7 (1)</a>
                  sind wir als Diensteanbieter für eigene Informationen, die wir
                  zur Nutzung bereitstellen, nach den allgemeinen Gesetzen
                  verantwortlich. Leider können wir keine Haftung für die
                  Korrektheit aller Inhalte auf dieser Webseite übernehmen,
                  speziell für jene die seitens Dritter bereitgestellt wurden.
                  Als Diensteanbieter im Sinne der §§ 8 bis 10 sind wir nicht
                  verpflichtet, die von ihnen übermittelten oder gespeicherten
                  Informationen zu überwachen oder nach Umständen zu forschen,
                  die auf eine rechtswidrige Tätigkeit hinweisen.
                </p>
                <p>
                  Unsere Verpflichtungen zur Entfernung von Informationen oder
                  zur Sperrung der Nutzung von Informationen nach den
                  allgemeinen Gesetzen aufgrund von gerichtlichen oder
                  behördlichen Anordnungen bleiben auch im Falle unserer
                  Nichtverantwortlichkeit nach den §§ 8 bis 10 unberührt.
                </p>
                <p>
                  Sollten Ihnen problematische oder rechtswidrige Inhalte
                  auffallen, bitte wir Sie uns umgehend zu kontaktieren, damit
                  wir die rechtswidrigen Inhalte entfernen können. Sie finden
                  die Kontaktdaten im Impressum.
                </p>
                <h2 class="adsimple-321201991">
                  Haftung für Links auf dieser Website
                </h2>
                <p>
                  Unsere Webseite enthält Links zu anderen Webseiten für deren
                  Inhalt wir nicht verantwortlich sind. Haftung für verlinkte
                  Websites besteht für uns nicht, da wir keine Kenntnis
                  rechtswidriger Tätigkeiten hatten und haben, uns solche
                  Rechtswidrigkeiten auch bisher nicht aufgefallen sind und wir
                  Links sofort entfernen würden, wenn uns Rechtswidrigkeiten
                  bekannt werden.
                </p>
                <p>
                  Wenn Ihnen rechtswidrige Links auf unserer Website auffallen,
                  bitte wir Sie uns zu kontaktieren. Sie finden die Kontaktdaten
                  im Impressum.
                </p>
                <h2 class="adsimple-321201991">Urheberrechtshinweis</h2>
                <p>
                  Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos)
                  unterliegen dem Urheberrecht der Bundesrepublik Deutschland.
                  Bitte fragen Sie uns bevor Sie die Inhalte dieser Website
                  verbreiten, vervielfältigen oder verwerten wie zum Beispiel
                  auf anderen Websites erneut veröffentlichen. Falls notwendig,
                  werden wir die unerlaubte Nutzung von Teilen der Inhalte
                  unserer Seite rechtlich verfolgen.
                </p>
                <p>
                  Sollten Sie auf dieser Webseite Inhalte finden, die das
                  Urheberrecht verletzen, bitten wir Sie uns zu kontaktieren.
                </p>
                <h2 class="adsimple-321201991">Bildernachweis</h2>
                <p>
                  Die Bilder, Fotos und Grafiken auf dieser Webseite sind
                  urheberrechtlich geschützt.
                </p>
                <p><a href="/privacy.html">Datenschutzerklärung</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{{/layouts/default}}