<!-- ################################ -->
<!-- ############ FOOTER ############ -->
<!-- ################################ -->

<section class="o-section t-section o-section--footer">
  <a name="contact"></a>
  <div class="o-section__header-bg t-section__header"></div>
  <div class="o-section__content-bg t-section__content"></div>

  <div class="o-container">
    <div class="o-section__container">
      <header class="o-section__header t-section__header">
        <div class="o-content">
          <h2 class="o-section__heading">Contact</h2>
          <div class="o-content__body o-section__description">
            Call me, maybe.
          </div>
        </div>
      </header>

      <div class="o-section__content t-section__content">
        <div class="c-footer__contact">
          <div class="o-grid">
            <div class="o-grid__col-md-3 o-grid__col-sm-6">
              <div class="o-content">
                <div class="o-content__body">
                  <h4>Standort</h4>
                  <address>Lüdwigsfelde</address>
                </div>
              </div>
            </div>

            <div class="o-grid__col-md-3 o-grid__col-sm-6">
              <div class="o-content">
                <div class="o-content__body">
                  <h4>Telefon</h4>
                  <p>+49 151 57118041</p>
                </div>
              </div>
            </div>

            <div class="o-grid__col-md-3 o-grid__col-sm-6">
              <div class="o-content">
                <div class="o-content__body">
                  <a href="#" target="_blank" class="t-link-container">
                    <h4>Web</h4>
                    <p>
                      <span class="t-link-container__item--blended">
                        pfau-software.de
                      </span>
                    </p>
                  </a>
                </div>
              </div>
            </div>

            <div class="o-grid__col-md-3 o-grid__col-sm-6">
              <div class="o-content">
                <div class="o-content__body">
                  <a href="#" target="_blank" class="t-link-container">
                    <h4>E-Mail</h4>
                    <p>
                      <span class="t-link-container__item--blended">
                        contact@pfau-software.de
                      </span>
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr class="c-footer__contact-divider" />

        <div class="o-content">
          <div class="c-footer__bottom">
            <div class="c-footer__brand">
              <div class="c-brand">
                <div class="o-content__body">
                  <h1 class="c-brand__title t-title">
                    <span class="c-brand__sizer c-brand__sizer--sm">
                      <span
                        class="a-footer c-brand__first-word t-title__first-word"
                      >
                        Pfau
                      </span>
                      <span
                        class="a-footer c-brand__second-word t-title__second-word"
                      >
                        Software
                      </span>
                    </span>
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>