<!-- ################################ -->
<!-- ############ HEADER ############ -->
<!-- ################################ -->

<section class="o-section t-section">
  <div class="o-section__header-bg t-section__header"></div>
  <div class="o-section__content-bg t-section__content"></div>

  <div class="o-container">
    <div class="o-section__container">
      <header class="o-section__header t-section__header">
        <div class="o-content">
          <img
            class="c-avatar__img"
            src="../../assets/images/logo_gray.svg"
            alt=""
          />
        </div>
      </header>

      <div class="o-section__content t-section__content">
        <div class="o-content">
          <div class="c-intro">
            <div class="o-content__body">
              <h1 class="c-brand__title t-title">
                <a href="/">
                <span class="c-brand__sizer">
                  <span
                    class="a-header c-brand__first-word t-title__first-word"
                  >
                    PFAU
                  </span>
                  <span
                    class="a-header c-brand__second-word t-title__second-word"
                  >
                    SOFTWARE
                  </span>
                </span>
                </a>
              </h1>
              <br />

              <hr class="a-header c-header__contact-divider" />

              {{> navigation.hbs }}  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>