<div class="o-grid">
  <div class="o-grid__col-md-3 o-grid__col-sm-6">
    <div class="a-header o-content">
      <div class="o-content__body">
        <h4><a href="#about">Über uns</a></h4>
      </div>
    </div>
  </div>

  <div class="o-grid__col-md-3 o-grid__col-sm-6">
    <div class="a-header o-content">
      <div class="o-content__body">
        <h4><a href="/#expertise">Expertise</a></h4>
      </div>
    </div>
  </div>

  <div class="o-grid__col-md-3 o-grid__col-sm-6">
    <div class="a-header o-content">
      <div class="o-content__body">
        <a href="#" target="_blank" class="t-link-container">
          <h4><a href="/#imprint">Impressum</a></h4>
        </a>
      </div>
    </div>
  </div>

  <div class="o-grid__col-md-3 o-grid__col-sm-6">
    <div class="a-header o-content">
      <div class="o-content__body">
        <a href="#" target="_blank" class="t-link-container">
          <h4><a href="/#contact">Kontakt</a></h4>
        </a>
      </div>
    </div>
  </div>
</div>