* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h2,
h3 {
  font-size: 1.2rem;
  line-height: 1.45;
  text-transform: uppercase;
  font-weight: 600;
}

h2.title {
  margin: 0;
  padding: 0;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  font-size: 1rem;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.75;
  background-color: #2d2e2e;
  color: #a4a5a6;
}

.header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  transform: translate(-10%);
}

.logo img {
  height: 100px;
}

.navbar {
  position: absolute;
  bottom: 20px;
}

p {
  margin: 0;
  padding: 0;
}
/* Style the navigation bar links */
a {
  color: #e0a80d;

  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
a:hover {
  color: #a4a5a6;
}

.navbar a {
  padding: 14px 20px;
}

hr {
  border: 0;
  border-top: 1px solid #404242;
  margin-bottom: 50px;
}

.content {
  max-width: 1276px;
  margin: 0 auto;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #404242;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  padding: 20px 50px 0 0;
  text-align: right;
  background-color: #2d2e2e;
}

/* Main column */
.main {
  flex: 70%;
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 30px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .navbar {
    display: none;
  }
  .side {
    text-align: left;
    padding: 20px 0 0 20px;
  }
}

@media screen and (min-width: 1276px) {
  .header {
    height: 100vh;
  }

  .logo img {
    height: 200px;
  }
}
