<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Pfau Software</title>

    <meta name="description" content="" />

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="<%= require('./assets/images/apple-touch-icon.png') %>"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= require('./assets/images/favicon-32x32.png') %>"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="<%= require('./assets/images/favicon-16x16.png') %>"
    />
    <link
      rel="mask-icon"
      href="<%= require('./assets/images/safari-pinned-tab.svg') %>"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Google Font: Lato -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic&subset=latin,latin-ext"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <div class="c-preloader js-preloader">
      <div class="c-preloader__spinner t-preloader__spinner"></div>
    </div>

    <div class="c-main-container js-main-container">
      <!-- ################################ -->
      <!-- ############ HEADER ############ -->
      <!-- ################################ -->

      <section class="o-section o-section--header t-section t-section--header">
        <div class="c-header">
          <div class="o-section__header-bg t-section__header"></div>
          <div class="o-section__content-bg t-section__content"></div>

          <div class="o-container">
            <div class="o-section__container">
              <header
                class="o-section__header c-header__header t-section__header"
              >
                <div class="c-header__inner-header">
                  <div class="c-header__avatar">
                    <div class="a-header c-avatar">
                      <img
                        class="c-avatar__img"
                        src="<%= require('./assets/images/logo_gray.svg') %>"
                        alt=""
                      />
                    </div>
                    <!-- /c-avatar -->
                  </div>
                  <!-- /c-header-avatar -->
                </div>
                <!-- /c-header__inner-header -->
              </header>
              <!-- /o-section__header -->

              <div
                class="o-section__content c-header__content t-section__content"
              >
                <div class="c-header__inner-content">
                  <div class="c-header__top">
                    <div class="c-header__brand">
                      <div class="c-brand">
                        <h1 class="c-brand__title t-title">
                          <span class="c-brand__sizer">
                            <span
                              class="a-header c-brand__first-word t-title__first-word"
                            >
                              PFAU
                            </span>
                            <span
                              class="a-header c-brand__second-word t-title__second-word"
                            >
                              SOFTWARE
                            </span>
                          </span>
                        </h1>
                        <h2 class="a-header c-brand__sub-title t-sub-title">
                          <span class="c-brand__sizer" id="typewriter">
                            Web development expert
                          </span>
                        </h2>
                      </div>
                      <!-- /c-brand -->
                    </div>

                    <!-- /c-header__social-buttons -->
                  </div>
                  <!-- /c-header__top -->

                  <div class="c-header__contact">
                    <hr class="a-header c-header__contact-divider" />

                    <div class="o-grid">
                      <div class="o-grid__col-md-3 o-grid__col-sm-6">
                        <div class="a-header o-content">
                          <div class="o-content__body">
                            <h4><a href="#about">Über uns</a></h4>
                          </div>
                        </div>
                      </div>

                      <div class="o-grid__col-md-3 o-grid__col-sm-6">
                        <div class="a-header o-content">
                          <div class="o-content__body">
                            <h4><a href="#expertise">Expertise</a></h4>
                          </div>
                        </div>
                      </div>

                      <div class="o-grid__col-md-3 o-grid__col-sm-6">
                        <div class="a-header o-content">
                          <div class="o-content__body">
                            <a
                              href="#"
                              target="_blank"
                              class="t-link-container"
                            >
                              <h4><a href="#contact">Kontakt</a></h4>
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="o-grid__col-md-3 o-grid__col-sm-6">
                        <div class="a-header o-content">
                          <div class="o-content__body">
                            <a
                              href="#"
                              target="_blank"
                              class="t-link-container"
                            >
                              <h4><a href="#imprint">Impressum</a></h4>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ################################ -->
      <!-- ############ INTRO ############# -->
      <!-- ################################ -->

      <section class="o-section t-section">
        <a name="about"></a>
        <div class="o-section__header-bg t-section__header"></div>
        <div class="o-section__content-bg t-section__content"></div>

        <div class="o-container">
          <div class="o-section__container">
            <header class="o-section__header t-section__header">
              <div class="o-content">
                <h2 class="o-section__heading">Intro</h2>
                <div class="o-content__body o-section__description">
                  What I am all about.
                </div>
              </div>
            </header>

            <div class="o-section__content t-section__content">
              <div class="o-content">
                <div class="c-intro">
                  <div class="o-content__body">
                    <p>
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                      Phasellus hendrerit. Pellentesque aaliquet nibh nec urna.
                      In nisi neque, aliquet vel, dapibus id, mattis vel, nisi.
                      Sed
                      <a href="#" target="_blank">pretium</a>, ligula
                      sollicitudin laoreet viverra, tortor libero sodales leo,
                      eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo.
                      Suspendisse potenti. Nulla vitae mauris non felis mollis
                      faucibus.
                    </p>
                    <p>
                      Sed egestas, ante et vulputate volutpat, eros pede semper
                      est, vitae luctus metus libero eu augue. Morbi purus
                      libero, faucibus adipiscing, commodo quis, gravida id,
                      est. Sed lectus. Praesent elementum hendrerit tortor. Sed
                      semper lorem at felis. Vestibulum volutpat, lacus a
                      ultrices sagittis, mi neque euismod dui, eu pulvinar nunc
                      sapien ornare nisl. Phasellus pede arcu, dapibus eu,
                      fermentum et, dapibus sed, urna. Fusce lacinia arcu et
                      nulla. Nulla vitae mauris non felis mollis.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ################################ -->
      <!-- ########## EXPERTISE ########### -->
      <!-- ################################ -->

      <section class="o-section t-section">
        <a name="expertise"></a>
        <div class="o-section__header-bg t-section__header"></div>
        <div class="o-section__content-bg t-section__content"></div>

        <div class="o-container">
          <div class="o-section__container">
            <header class="o-section__header t-section__header">
              <div class="o-content">
                <h2 class="o-section__heading">Expertise</h2>
                <div class="o-content__body o-section__description">
                  Batman would be jealous.
                </div>
              </div>
            </header>

            <div class="o-section__content t-section__content">
              <div class="o-grid">
                <div class="o-grid__col-sm-6">
                  <div class="o-media o-media--block o-content">
                    <div class="o-media__figure">
                      <div class="c-number t-primary-color">01</div>
                    </div>
                    <div class="o-media__body o-content__body">
                      <h3>Advanced CSS</h3>
                      <p>
                        Cras ornare tristique elit lorem ipsum dolor sit amet,
                        consectetuer adipiscing elit. Phasellus hendrerit.
                        Pellentesque aliquet nibh nec urna. In nisi neque,
                        aliquet vel, dapibus id.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="o-grid__col-sm-6">
                  <div class="o-media o-media--block o-content">
                    <div class="o-media__figure">
                      <div class="c-number t-primary-color">02</div>
                    </div>
                    <div class="o-media__body o-content__body">
                      <h3>Front-end Design</h3>
                      <p>
                        Sed adipiscing ornare risus. Morbi est est, blandit sit
                        amet, sagittis vel, euismod vel, velit. Pellentesque
                        egestas sem. Suspendisse commodo ullamcorper magna. Ut
                        aliquam sollicitudin leo.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="o-grid__col-sm-6">
                  <div class="o-media o-media--block o-content">
                    <div class="o-media__figure">
                      <div class="c-number t-primary-color">03</div>
                    </div>
                    <div class="o-media__body o-content__body">
                      <h3>Ruby on Rails</h3>
                      <p>
                        Donec nec justo eget felis facilisis fermentum. Aliquam
                        porttitor mauris sit amet orci. Aenean dignissim
                        pellentesque felis. Vivamus vestibulum nulla cras ornare
                        tristique elit nec ante.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="o-grid__col-sm-6">
                  <div class="o-media o-media--block o-content">
                    <div class="o-media__figure">
                      <div class="c-number t-primary-color">04</div>
                    </div>
                    <div class="o-media__body o-content__body">
                      <h3>Object-oriented PHP</h3>
                      <p>
                        Morbi in sem quis dui placerat ornare. Ut aliquam
                        sollicitudin leo. Pellentesque odio nisi, euismod in,
                        pharetra a, ultricies in, diam. Sed arcu. Cras ante.
                        Vivamus vestibulum nulla nec ante.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="o-grid__col-sm-6">
                  <div class="o-media o-media--block o-content">
                    <div class="o-media__figure">
                      <div class="c-number t-primary-color">05</div>
                    </div>
                    <div class="o-media__body o-content__body">
                      <h3>WordPress</h3>
                      <p>
                        Phasellus ultrices nulla quis nibh. Fusce lobortis
                        lorem. Quisque a lectus. Donec consectetuer ligula
                        vulputate sem tristique cursus. Nam nulla quam, gravida
                        non, sodales sit amet, nisi.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="o-grid__col-sm-6">
                  <div class="o-media o-media--block o-content">
                    <div class="o-media__figure">
                      <div class="c-number t-primary-color">06</div>
                    </div>
                    <div class="o-media__body o-content__body">
                      <h3>JavaScript / jQuery</h3>
                      <p>
                        Cras ornare tristique elit lorem ipsum dolor sit amet,
                        consectetuer adipiscing elit. Phasellus hendrerit.
                        Pellentesque aliquet nibh nec urna. In nisi neque,
                        aliquet vel, dapibus id.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ################################ -->
      <!-- ########### PROFILES ########### -->
      <!-- ################################ -->

      <!-- <section class="o-section t-section">
        <div class="o-section__header-bg t-section__header"></div>
        <div class="o-section__content-bg t-section__content"></div>

        <div class="o-container">
          <div class="o-section__container">
            <header class="o-section__header t-section__header">
              <div class="o-content">
                <h2 class="o-section__heading">Profiles</h2>
                <div class="o-content__body o-section__description">
                  Busy as usual.
                </div>
              </div>
            </header>

            <div class="o-section__content t-section__content">
              <div class="o-grid">
                <div class="o-grid__col-xl-4 o-grid__col-sm-6">
                  <div class="o-content">
                    <a
                      href="http://themeforest.net/user/ruventhemes/portfolio"
                      target="_blank"
                      class="t-link-container"
                    >
                      <div class="o-media o-media--block">
                        <div class="o-media__figure">
                          <div class="c-profile__icon">
                            <i class="fab fa-lg fa-envira"></i>
                          </div>
                        </div>
                        <div class="o-media__body o-content__body">
                          <h3 class="t-link-container__item">Themeforest</h3>
                          <p>
                            An overview of the themes and templates that I sell.
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="o-grid__col-xl-4 o-grid__col-sm-6">
                  <div class="o-content">
                    <a
                      href="https://github.com/hatra-e/"
                      target="_blank"
                      class="t-link-container"
                    >
                      <div class="o-media o-media--block">
                        <div class="o-media__figure">
                          <div class="c-profile__icon">
                            <i class="fab fa-lg fa-github-alt"></i>
                          </div>
                        </div>
                        <div class="o-media__body o-content__body">
                          <h3 class="t-link-container__item">GitHub</h3>
                          <p>All my open source projects for you analyze.</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="o-grid__col-xl-4 o-grid__col-sm-6">
                  <div class="o-content">
                    <a
                      href="http://wordpress.com"
                      target="_blank"
                      class="t-link-container"
                    >
                      <div class="o-media o-media--block">
                        <div class="o-media__figure">
                          <div class="c-profile__icon">
                            <i class="fab fa-lg fa-medium"></i>
                          </div>
                        </div>
                        <div class="o-media__body o-content__body">
                          <h3 class="t-link-container__item">Medium</h3>
                          <p>
                            Yes. I'm also a blogger and here you find my
                            writings.
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="o-grid__col-xl-4 o-grid__col-sm-6">
                  <div class="o-content">
                    <a
                      href="https://dribbble.com"
                      target="_blank"
                      class="t-link-container"
                    >
                      <div class="o-media o-media--block">
                        <div class="o-media__figure">
                          <div class="c-profile__icon">
                            <i class="fab fa-lg fa-dribbble"></i>
                          </div>
                        </div>
                        <div class="o-media__body o-content__body">
                          <h3 class="t-link-container__item">Dribbble</h3>
                          <p>
                            Whenever a design is finalized, it lands right here.
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="o-grid__col-xl-4 o-grid__col-sm-6">
                  <div class="o-content">
                    <a
                      href="https://www.flickr.com"
                      target="_blank"
                      class="t-link-container"
                    >
                      <div class="o-media o-media--block">
                        <div class="o-media__figure">
                          <div class="c-profile__icon">
                            <i class="fab fa-lg fa-flickr"></i>
                          </div>
                        </div>
                        <div class="o-media__body o-content__body">
                          <h3 class="t-link-container__item">Flickr</h3>
                          <p>
                            A selection of photos I shot throughout the years.
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="o-grid__col-xl-4 o-grid__col-sm-6">
                  <div class="o-content">
                    <a
                      href="http://www.deviantart.com"
                      target="_blank"
                      class="t-link-container"
                    >
                      <div class="o-media o-media--block">
                        <div class="o-media__figure">
                          <div class="c-profile__icon">
                            <i class="fab fa-lg fa-deviantart"></i>
                          </div>
                        </div>
                        <div class="o-media__body o-content__body">
                          <h3 class="t-link-container__item">DeviantArt</h3>
                          <p>A place for my sketches and drawings.</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->

      <!-- ################################ -->
      <!-- ############ AWORDS ############ -->
      <!-- ################################ -->

      <!-- <section class="o-section t-section">
        <div class="o-section__header-bg t-section__header"></div>
        <div class="o-section__content-bg t-section__content"></div>

        <div class="o-container">
          <div class="o-section__container">
            <header class="o-section__header t-section__header">
              <div class="o-content">
                <h2 class="o-section__heading">Awards</h2>
                <div class="o-content__body o-section__description">
                  Happy times!
                </div>
              </div>
            </header>

            <div class="o-section__content t-section__content">
              <div class="o-grid">
                <div class="o-grid__col-md-4 o-grid__col-sm-6">
                  <div class="o-content">
                    <hr class="c-deco-line t-primary-color-line" />
                    <div class="o-content__body">
                      <h3>Unicorn Developer Award 2016</h3>
                      <p>
                        Lorem ipsum dolor sit amet, justo eget porttitor mauris
                        sit amet felis. Neque id cursus faucibus.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="o-grid__col-md-4 o-grid__col-sm-6">
                  <div class="o-content">
                    <hr class="c-deco-line t-primary-color-line" />
                    <div class="o-content__body">
                      <h3>Website of the Year Award 2015</h3>
                      <p>
                        Praesent dapibus dolor sit amet, justo eget porttitor
                        mauris sit amet. Neque id cursus faucibus.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="o-grid__col-md-4 o-grid__col-sm-6">
                  <div class="o-content">
                    <hr class="c-deco-line t-primary-color-line" />
                    <div class="o-content__body">
                      <h3>1st Place at CSShacker Conference</h3>
                      <p>
                        Lorem ipsum dolor sit amet, justo eget porttitor mauris
                        sit amet felis. Neque id cursus faucibus.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->

      <!-- ################################ -->
      <!-- ########### PORTFOLIO ########## -->
      <!-- ################################ -->

      <!-- <section class="o-section t-section">
        <div class="o-section__header-bg t-section__header"></div>
        <div class="o-section__content-bg t-section__content"></div>

        <div class="o-container">
          <div class="o-section__container">
            <header class="o-section__header t-section__header">
              <div class="o-content">
                <h2 class="o-section__heading">Portfolio</h2>
                <div class="o-content__body o-section__description">
                  Here it gets interesting.
                </div>
              </div>
            </header>

            <div
              class="o-section__content t-section__content o-section__full-bottom-space"
            >
              <div class="o-grid o-grid--gallery">
                <div class="o-grid__col-sm-6">
                  <a
                    class="c-image-overlay t-image-overlay js-lightbox"
                    href="assets/images/portfolio/1_full.jpg"
                    data-lightbox-hidpi=""
                    title="Musée du Louvre"
                    data-lightbox-gallery="portfolio"
                  >
                    <img src="assets/images/portfolio/1_thumb.jpg" alt="" />
                    <div class="c-image-overlay__content">
                      <h3>Musée du Louvre</h3>
                      <hr
                        class="c-image-overlay__deco-line t-image-overlay__deco-line"
                      />
                      <p>
                        Fusce lacinia arcu et nulla. Nulla vitae mauris non
                        felis mollis faucibus. Lorem ipsum dolor sit amet,
                        consectetuer adipiscing elit.
                      </p>
                    </div>
                  </a>
                </div>

                <div class="o-grid__col-sm-6">
                  <a
                    class="c-image-overlay t-image-overlay js-lightbox"
                    href="assets/images/portfolio/2_full.jpg"
                    data-lightbox-hidpi=""
                    title="Tunnel Effect"
                    data-lightbox-gallery="portfolio"
                  >
                    <img src="assets/images/portfolio/2_thumb.jpg" alt="" />
                    <div class="c-image-overlay__content">
                      <h3>Tunnel Effect</h3>
                      <hr
                        class="c-image-overlay__deco-line t-image-overlay__deco-line"
                      />
                      <p>
                        Fusce lacinia arcu et nulla. Nulla vitae mauris non
                        felis mollis faucibus. Lorem ipsum dolor sit amet,
                        consectetuer adipiscing elit.
                      </p>
                    </div>
                  </a>
                </div>

                <div class="o-grid__col-sm-6">
                  <a
                    class="c-image-overlay t-image-overlay js-lightbox"
                    href="assets/images/portfolio/3_full.jpg"
                    data-lightbox-hidpi=""
                    title="New York, New York"
                    data-lightbox-gallery="portfolio"
                  >
                    <img src="assets/images/portfolio/3_thumb.jpg" alt="" />
                    <div class="c-image-overlay__content">
                      <h3>New York, New York</h3>
                      <hr
                        class="c-image-overlay__deco-line t-image-overlay__deco-line"
                      />
                      <p>
                        Fusce lacinia arcu et nulla. Nulla vitae mauris non
                        felis mollis faucibus. Lorem ipsum dolor sit amet,
                        consectetuer adipiscing elit.
                      </p>
                    </div>
                  </a>
                </div>

                <div class="o-grid__col-sm-6">
                  <a
                    class="c-image-overlay t-image-overlay js-lightbox"
                    href="assets/images/portfolio/4_full.jpg"
                    data-lightbox-hidpi=""
                    title="Sky High"
                    data-lightbox-gallery="portfolio"
                  >
                    <img src="assets/images/portfolio/4_thumb.jpg" alt="" />
                    <div class="c-image-overlay__content">
                      <h3>Sky High</h3>
                      <hr
                        class="c-image-overlay__deco-line t-image-overlay__deco-line"
                      />
                      <p>
                        Fusce lacinia arcu et nulla. Nulla vitae mauris non
                        felis mollis faucibus. Lorem ipsum dolor sit amet,
                        consectetuer adipiscing elit.
                      </p>
                    </div>
                  </a>
                </div>

                <div class="o-grid__col-sm-6">
                  <a
                    class="c-image-overlay t-image-overlay js-lightbox"
                    href="assets/images/portfolio/5_full.jpg"
                    data-lightbox-hidpi=""
                    title="The Eiffel Tower"
                    data-lightbox-gallery="portfolio"
                  >
                    <img src="assets/images/portfolio/5_thumb.jpg" alt="" />
                    <div class="c-image-overlay__content">
                      <h3>The Eiffel Tower</h3>
                      <hr
                        class="c-image-overlay__deco-line t-image-overlay__deco-line"
                      />
                      <p>
                        Fusce lacinia arcu et nulla. Nulla vitae mauris non
                        felis mollis faucibus. Lorem ipsum dolor sit amet,
                        consectetuer adipiscing elit.
                      </p>
                    </div>
                  </a>
                </div>

                <div class="o-grid__col-sm-6">
                  <a
                    class="c-image-overlay t-image-overlay js-lightbox"
                    href="assets/images/portfolio/6_full.jpg"
                    data-lightbox-hidpi=""
                    title="Reaching the Clouds"
                    data-lightbox-gallery="portfolio"
                  >
                    <img src="assets/images/portfolio/6_thumb.jpg" alt="" />
                    <div class="c-image-overlay__content">
                      <h3>Reaching the Clouds</h3>
                      <hr
                        class="c-image-overlay__deco-line t-image-overlay__deco-line"
                      />
                      <p>
                        Fusce lacinia arcu et nulla. Nulla vitae mauris non
                        felis mollis faucibus. Lorem ipsum dolor sit amet,
                        consectetuer adipiscing elit.
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->

      <!-- ################################ -->
      <!-- ############ CLIENTS ########### -->
      <!-- ################################ -->

      <!-- <section class="o-section t-section">
        <div class="o-section__header-bg t-section__header"></div>
        <div class="o-section__content-bg t-section__content"></div>

        <div class="o-container">
          <div class="o-section__container">
            <header class="o-section__header t-section__header">
              <div class="o-content">
                <h2 class="o-section__heading">Clients</h2>
                <div class="o-content__body o-section__description">
                  Happy people.
                </div>
              </div>
            </header>

            <div class="o-section__content t-section__content">
              <ul class="c-clients o-content">
                <li>
                  <a href="http://example.com" target="_blank">
                    <img src="assets/images/clients/bbc.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="http://example.com" target="_blank">
                    <img src="assets/images/clients/disney.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="http://example.com" target="_blank">
                    <img src="assets/images/clients/github.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="http://example.com" target="_blank">
                    <img src="assets/images/clients/google.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="http://example.com" target="_blank">
                    <img src="assets/images/clients/html5.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="http://example.com" target="_blank">
                    <img src="assets/images/clients/kickstarter.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="http://example.com" target="_blank">
                    <img src="assets/images/clients/youtube.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="http://example.com" target="_blank">
                    <img src="assets/images/clients/vimeo.png" alt="" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section> -->

      <!-- ################################ -->
      <!-- ########### IMPRINT ########## -->
      <!-- ################################ -->

      <section class="o-section t-section">
        <div class="o-section__header-bg t-section__header"></div>
        <div class="o-section__content-bg t-section__content"></div>

        <div class="o-container">
          <div class="o-section__container">
            <header class="o-section__header t-section__header">
              <div class="o-content">
                <h2 class="o-section__heading">Impressum</h2>
                <div class="o-content__body o-section__description">
                  Here it gets interesting.
                </div>
              </div>
            </header>

            <div class="o-section__content t-section__content">
              <div class="o-content">
                <div class="c-intro">
                  <div class="o-content__body">
                    <p class="adsimple-321201991">
                      Informationspflicht laut § 5 TMG.
                    </p>
                    <p class="adsimple-321201991">
                      Onlinemarketing Pfau<br />Waldkauzweg 37, <br />14974
                      Ludwigsfelde, <br />Deutschland
                    </p>
                    <p class="adsimple-321201991">
                      <strong>Pfau Software</strong> ist eine Marke von
                      <strong>Onlinemarketing Pfau</strong>
                    </p>
                    <p class="adsimple-321201991"></p>
                    <p class="adsimple-321201991">
                      <strong>E-Mail:</strong>
                      <a href="mailto:contact@pfau-software.de"
                        >contact@pfau-software.de</a
                      >
                    </p>
                    <p class="adsimple-321201991">
                      <strong>UStID-Nr.:</strong>DE263725390
                    </p>
                    <p class="adsimple-321201991">
                      <strong>Vertreten durch die Gesellschafter</strong>
                      <br />Andreas Pfau
                    </p>

                    <p style="margin-top: 15px">
                      Quelle: Erstellt mit dem
                      <a
                        title="Impressum Generator Deutschland"
                        href="https://www.adsimple.de/impressum-generator/"
                        target="_blank"
                        rel="follow"
                        style="text-decoration: none"
                        >Impressum Generator</a
                      >
                      von AdSimple in Kooperation mit
                      <a
                        href="https://www.bauenwir.de"
                        target="_blank"
                        rel="follow"
                        title=""
                        >bauenwir.de</a
                      >
                    </p>
                    <h2 class="adsimple-321201991">EU-Streitschlichtung</h2>
                    <p>
                      Gemäß Verordnung über Online-Streitbeilegung in
                      Verbraucherangelegenheiten (ODR-Verordnung) möchten wir
                      Sie über die Online-Streitbeilegungsplattform
                      (OS-Plattform) informieren.<br />
                      Verbraucher haben die Möglichkeit, Beschwerden an die
                      Online Streitbeilegungsplattform der Europäischen
                      Kommission unter
                      <a
                        class="adsimple-321201991"
                        href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE"
                        target="_blank"
                        rel="noopener"
                        >http://ec.europa.eu/odr?tid=321201991</a
                      >
                      zu richten. Die dafür notwendigen Kontaktdaten finden Sie
                      oberhalb in unserem Impressum.
                    </p>
                    <p>
                      Wir möchten Sie jedoch darauf hinweisen, dass wir nicht
                      bereit oder verpflichtet sind, an
                      Streitbeilegungsverfahren vor einer
                      Verbraucherschlichtungsstelle teilzunehmen.
                    </p>
                    <h2 class="adsimple-321201991">
                      Haftung für Inhalte dieser Website
                    </h2>
                    <p>
                      Wir entwickeln die Inhalte dieser Webseite ständig weiter
                      und bemühen uns korrekte und aktuelle Informationen
                      bereitzustellen. Laut Telemediengesetz
                      <a
                        class="adsimple-321201991"
                        href="https://www.gesetze-im-internet.de/tmg/__7.html?tid=321201991"
                        rel="noopener"
                        target="_blank"
                        >(TMG) §7 (1)</a
                      >
                      sind wir als Diensteanbieter für eigene Informationen, die
                      wir zur Nutzung bereitstellen, nach den allgemeinen
                      Gesetzen verantwortlich. Leider können wir keine Haftung
                      für die Korrektheit aller Inhalte auf dieser Webseite
                      übernehmen, speziell für jene die seitens Dritter
                      bereitgestellt wurden. Als Diensteanbieter im Sinne der §§
                      8 bis 10 sind wir nicht verpflichtet, die von ihnen
                      übermittelten oder gespeicherten Informationen zu
                      überwachen oder nach Umständen zu forschen, die auf eine
                      rechtswidrige Tätigkeit hinweisen.
                    </p>
                    <p>
                      Unsere Verpflichtungen zur Entfernung von Informationen
                      oder zur Sperrung der Nutzung von Informationen nach den
                      allgemeinen Gesetzen aufgrund von gerichtlichen oder
                      behördlichen Anordnungen bleiben auch im Falle unserer
                      Nichtverantwortlichkeit nach den §§ 8 bis 10 unberührt.
                    </p>
                    <p>
                      Sollten Ihnen problematische oder rechtswidrige Inhalte
                      auffallen, bitte wir Sie uns umgehend zu kontaktieren,
                      damit wir die rechtswidrigen Inhalte entfernen können. Sie
                      finden die Kontaktdaten im Impressum.
                    </p>
                    <h2 class="adsimple-321201991">
                      Haftung für Links auf dieser Website
                    </h2>
                    <p>
                      Unsere Webseite enthält Links zu anderen Webseiten für
                      deren Inhalt wir nicht verantwortlich sind. Haftung für
                      verlinkte Websites besteht für uns nicht, da wir keine
                      Kenntnis rechtswidriger Tätigkeiten hatten und haben, uns
                      solche Rechtswidrigkeiten auch bisher nicht aufgefallen
                      sind und wir Links sofort entfernen würden, wenn uns
                      Rechtswidrigkeiten bekannt werden.
                    </p>
                    <p>
                      Wenn Ihnen rechtswidrige Links auf unserer Website
                      auffallen, bitte wir Sie uns zu kontaktieren. Sie finden
                      die Kontaktdaten im Impressum.
                    </p>
                    <h2 class="adsimple-321201991">Urheberrechtshinweis</h2>
                    <p>
                      Alle Inhalte dieser Webseite (Bilder, Fotos, Texte,
                      Videos) unterliegen dem Urheberrecht der Bundesrepublik
                      Deutschland. Bitte fragen Sie uns bevor Sie die Inhalte
                      dieser Website verbreiten, vervielfältigen oder verwerten
                      wie zum Beispiel auf anderen Websites erneut
                      veröffentlichen. Falls notwendig, werden wir die
                      unerlaubte Nutzung von Teilen der Inhalte unserer Seite
                      rechtlich verfolgen.
                    </p>
                    <p>
                      Sollten Sie auf dieser Webseite Inhalte finden, die das
                      Urheberrecht verletzen, bitten wir Sie uns zu
                      kontaktieren.
                    </p>
                    <h2 class="adsimple-321201991">Bildernachweis</h2>
                    <p>
                      Die Bilder, Fotos und Grafiken auf dieser Webseite sind
                      urheberrechtlich geschützt.
                    </p>
                    <p><a href="/privacy.html">Datenschutzerklärung</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ################################ -->
      <!-- ############ FOOTER ############ -->
      <!-- ################################ -->

      <section class="o-section t-section o-section--footer">
        <a name="contact"></a>
        <div class="o-section__header-bg t-section__header"></div>
        <div class="o-section__content-bg t-section__content"></div>

        <div class="o-container">
          <div class="o-section__container">
            <header class="o-section__header t-section__header">
              <div class="o-content">
                <h2 class="o-section__heading">Contact</h2>
                <div class="o-content__body o-section__description">
                  Call me, maybe.
                </div>
              </div>
            </header>

            <div class="o-section__content t-section__content">
              <div class="c-footer__contact">
                <div class="o-grid">
                  <div class="o-grid__col-md-3 o-grid__col-sm-6">
                    <div class="o-content">
                      <div class="o-content__body">
                        <h4>Standort</h4>
                        <address>Lüdwigsfelde</address>
                      </div>
                    </div>
                  </div>

                  <div class="o-grid__col-md-3 o-grid__col-sm-6">
                    <div class="o-content">
                      <div class="o-content__body">
                        <h4>Telefon</h4>
                        <p>+49 151 57118041</p>
                      </div>
                    </div>
                  </div>

                  <div class="o-grid__col-md-3 o-grid__col-sm-6">
                    <div class="o-content">
                      <div class="o-content__body">
                        <a href="#" target="_blank" class="t-link-container">
                          <h4>Web</h4>
                          <p>
                            <span class="t-link-container__item--blended">
                              pfau-software.de
                            </span>
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="o-grid__col-md-3 o-grid__col-sm-6">
                    <div class="o-content">
                      <div class="o-content__body">
                        <a href="#" target="_blank" class="t-link-container">
                          <h4>E-Mail</h4>
                          <p>
                            <span class="t-link-container__item--blended">
                              contact@pfau-software.de
                            </span>
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr class="c-footer__contact-divider" />

              <div class="o-content">
                <div class="c-footer__bottom">
                  <div class="c-footer__brand">
                    <div class="c-brand">
                      <div class="o-content__body">
                        <h1 class="c-brand__title t-title">
                          <span class="c-brand__sizer c-brand__sizer--sm">
                            <span
                              class="a-footer c-brand__first-word t-title__first-word"
                            >
                              Pfau
                            </span>
                            <span
                              class="a-footer c-brand__second-word t-title__second-word"
                            >
                              Software
                            </span>
                          </span>
                        </h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
